body {
    background: #E8F5E9;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #344094;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

.deleteButton {
    background-color: rgba(255, 0, 0, 0.5);
}

.completeButton {
    background-color: rgba(0, 255, 0, 0.5);
}

.completedTodoItem {
    color: rgba(0, 90, 255, 0.9);
}

.button {
    border-radius: 8px;
    box-shadow: 2px 1px 1px 0px #444;
}

.selectedFilter {
    color: rgba(0, 196, 0, 1);
}

.updatedText {
    visibility: hidden;
}
